html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #fff;
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

main.cf {
  width: 80wv;
  display: grid;
  grid-template-columns: repeat(10, [col-] 1fr);
  grid-template-rows: auto;
  margin: auto;
  gap: 20px;

  backdrop-filter: blur(15px);
  background-color: rgba(74, 96, 21, 0.2);
  height: 100vh;
}

/*----------Navigation Menu----------*/

.primary nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  gap: 2rem;
}

.primary nav ul li {
  display: inline;
}

.primary nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.primary nav a:hover {
  color: orange;
}

nav.primary {
  background-color: #4a6015;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.primary .action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

/*--------------- Home Page Grid Style Layout---------------*/

header.primary {
  /*background: rgba(7, 95, 99, 0.4);*/
  grid-column: 1 / 11;
  grid-row: 1 / 2;
  padding: 0;
  margin: 0;
}

.primary h1 {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  align-content: center;
  font-style: italic;
  color: #fff;
}

header.primary h2 {
  text-align: center;
  color: #fff;
}

header.primary h1 a {
  text-decoration: none;
  color: orange;
}

#content {
  grid-column: 2 / 10;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  backdrop-filter: blur(15px);
  background-color: rgba(74, 96, 21, 0.2);
  padding: 20px;
  color: #fff;
}

footer.primary {
  /*background: rgba(7, 95, 99, 0.4);*/
  grid-column: 1 / 11;
  grid-row: 3 / 4;
  text-align: center;
  background-color: #4a6015;
  text-align: center;
  color: #fff;
  width: 100%;
}

footer.primary a {
  text-decoration: none;
  color: #fff;
}

#blog {
  /*background: rgba(26, 97, 67, 0.6);*/
  grid-column: 1 / 7;
  border-right: solid orange 1px;
  padding-right: 20px;
}

#blog p {
  text-indent: 20px;
}

#blog h2 {
  color: orange;
  padding: 0;
}

aside {
  /*background: rgba(221, 153, 51, 0.2);*/
  grid-column: 7 / 10;
}

aside h4 {
  color: orange;
}

.widget {
  margin: 20px;
  border-bottom: dashed orange 1px;
}
.widget img {
  align-items: center;
}

.widget figcaption {
  font-size: small;
  font-style: italic;
}

.widget p {
  font-size: small;
  text-indent: 20px;
}

.widget footer {
  font-size: x-small;
  margin-bottom: 10px;
}

.widget a {
  color: #fff;
}

.widget a:hover {
  color: orange;
}
/*----------ABOUT PAGE STYLE END----------*/

/*----------CAMPING PAGE STYLING----------*/
#contentCamping {
  grid-column: 2 / 10;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  backdrop-filter: blur(15px);
  background-color: rgba(74, 96, 21, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #fff;
  align-content: center;
}

#contentCamping h2,
h3 {
  color: orange;
  text-align: center;
}

#blogCamping {
  /*background: rgba(26, 97, 67, 0.6);*/
  grid-column: 1 / 10;
  padding-top: 0;
}

#blogCamping a {
  color: #fff;
}

#blogCamping a:hover {
  color: orange;
}

#blogCamping figure {
  align-content: center;
  padding: 0;
  margin: 0;
}

table.camping {
  text-align: center;
  width: 100%;
  border-collapse: separate;
  text-wrap: wrap;
}

table.camping tr,
td {
  background-color: #4a6015;
  border-spacing: 5px;
}

table.camping tr {
  height: 100px;
  width: 100px;
}

table.camping td {
  font-weight: bold;
}

/* ---------------CAMPING PAGE STYLE END---------------*/

/* ---------------FAQ PAGE STYLE---------------*/

#contentFAQ {
  grid-column: 4 / 8;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  backdrop-filter: blur(15px);
  background-color: rgba(74, 96, 21, 0.2);
  padding-left: 20px;
  color: #fff;
  align-content: center;
}

#accordion {
  grid-column: 1 / 10;
  align-content: center;
  padding-right: 20px;
  padding-bottom: 20px;
}

#accordion h2 {
  text-align: center;
}

div.question {
  position: relative;
  margin: 0;
  padding: 0;
}

input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
  grid-column: 1 / 10;
}

#accordion div.question h3 {
  color: orange;
  background: #4a6015;
  padding: 20px;
  position: relative;
  width: 100%;
}

#accordion div.question h3:hover {
  background-color: orange;
  color: #fff;
}

#accordion label::before {
  content: "";
  display: inline-block;
  /*border: 15px solid transparent;*/
  /*border-left: 20px solid: #fff;*/
}

#accordion label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

div.answer {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(255, 165, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}

div.answer a {
  color: orange;
}
input:checked ~ h3 label::before {
  /* border-left: 15px solid transparent;
  border-top: 20px solid white;
  margin top: 12px;
  margin-right: 10px;*/
}

input:checked ~ h3 label::after {
  transition: max-height 0.2s ease-in;
}

input:checked ~ h3 ~ div.answer {
  max-height: 100%;
}

/*footer.faqFooter {
  background-color: #4a6015;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}*/
