html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
  
  main.cf {
    width: 80wv;
    display: grid;
    grid-template-columns: repeat(10, [col-] 1fr);
    grid-template-rows: auto;
    margin: auto;
    gap: 20px;
    padding: 20px;
  }
  
  /*--------------- About Page Grid Style Layout---------------*/
  
  
  #content {
    grid-column: 1 / 11;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
  
  footer.primary {
    /*background: rgba(7, 95, 99, 0.4);*/
    grid-column: 1 / 11;
    grid-row: 3 / 4;
    text-align: center;
  }
  
  #blog {
    /*background: rgba(26, 97, 67, 0.6);*/
    grid-column: 1 / 8;
  }
  
  aside {
    background: rgba(221, 153, 51, 0.2);
    grid-column: 8 / 11;
  }
  
  /*----------Camping Grid----------*/
  #contentCamping {
    grid-column: 1 / 11;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }
  
  #blogCamping {
    /*background: rgba(26, 97, 67, 0.6);*/
    grid-column: 1 / 11;
  }
  
  /*----------Recreation Grid----------*/
  
  /*----------Gallary Grid----------*/
  
  /*----------FAQ's Grid----------*/
  
  /* ---------------Grid Style End---------------*/
  
  /*Other styling*/
  
  .widget {
    margin: 20px;
    border-bottom: solid 1px;
  }
  .widget figure img {
    height: 200px;
    max-width: 300px;
  }
  
  .widget figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
  }
  
  /*----------Article Widgets----------*/
  .widget p {
    font-size: medium;
    text-indent: 20px;
  }
  
  .widget footer {
    font-size: x-small;
    margin-bottom: 10px;
  }
  /*----------Article Widgets End----------*/
  
  /*----------All Pages Style----------*/
  body {
    font-family: "Montserrat", regular;
  }
  
  p {
    font-size: larger;
  }
  
  .primary h1 {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    text-align: center;
    align-content: center;
  }
  
  .primary h2 {
    text-align: center;
  }
  
  header a {
    text-decoration: none;
    color: #1a6143;
  }
  
  /*----------Navigation Menu----------*/
  
  .primary nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #dd9933;
  }
  
  .primary nav ul li {
    display: inline;
  }
  
  .primary nav a {
    display: inline-block;
    padding: 14px 16px;
    font-weight: bold;
    /*color: #1a6143;*/
  }
  
  /*nav {
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dd9933;
  }
  
  nav ul li {
    float: left;
    margin: auto;
  }
  
  nav ul li a {
    display: block;
    color: #1a6143;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }*/
  /*----------Navigation Menu Style End----------*/
  /*----------All Pages Style End----------*/
  